
/***************************************Carrusel********************************************/
.elHome{
    min-height:64vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedorCarrusel{
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
  }
  #carouselExampleIndicators{
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
.carousel-indicators [data-bs-target] /*Clase especifica de bootstrap*/{
    width: 6px;       /* Ancho del círculo */
    height: 6px;      /* Alto del círculo */
    border-radius: 50%; /* Hacer los indicadores circulares */
    background-color:  rgba(0, 0, 0, .25); /* Color base de los indicadores */
    border: 1px solid white;        /*borde predeterminado */
    margin: 0 5px;       /* Espaciado entre los indicadores */
  }
.carousel-indicators .active /* Estilo del indicador cuando este activo o cuando este en ese slide*/{
    background-color: white; /* Cambiar color del indicador activo a blanco */
    border: 1px solid rgba(0, 0, 0, 0.425); /* Colocar el borde negro */
}

  .carousel-inner{
    width: 100%;
    height: 100%;
    display: flex;
    
  }
  
  .carousel-item img{
    width: 100%;  /* Ocupar todo el ancho del contenedor */
    height: 100%; /* Mantener la proporción original */
    object-fit:cover;  /* Ajustar para cubrir el contenedor sin deformar */
    image-rendering:optimizeQuality; /* Mejorar la nitidez */
    backface-visibility: hidden;  /* Prevenir artefactos gráficos */  
    
  }
  /* .imageCarrusel{
    width: auto; 
    height: auto; 
    object-fit:cover;  
    image-rendering:optimizeQuality; 
    backface-visibility: hidden;  
 } */

 /***Botones Next y Prev del carrusel***/
 
  .carousel-control-prev,.carousel-control-next{
    display: none;
  }
  .carousel-control-next-icon,.carousel-control-prev-icon{
    width: 25px;
    height: 25px;
    filter: invert(100%); 
}
 #carouselExampleIndicators:hover .carousel-control-prev {
  display:flex;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 30px;
  height: 60px;
  margin-top: 43vh;    
}
#carouselExampleIndicators:hover .carousel-control-next{
    display: flex;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 30px;
    height: 60px;
    margin-top: 43vh;    
}
.carousel-control-next:hover{
    border-bottom: 2px solid rgba(0, 0, 0, 0.63);
    border-top: 2px solid rgba(0, 0, 0, 0.63);
    border-left: 2px solid rgba(0, 0, 0, 0.63);    
  }
  .carousel-control-prev:hover{
    border-bottom: 2px solid rgba(0, 0, 0, 0.63);
    border-top: 2px solid rgba(0, 0, 0, 0.63);
    border-right: 2px solid rgba(0, 0, 0, 0.63); 
  }

  .porQueElegirnos{
    width: 100vw;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
  }
  .tituloPorQueElegirnos{
    width: 35%;
    text-align: center;
    margin-top: 10px;
    color: #76b8bd;
    /* background-color: blue; */
  }
  .parrafoElegirnos{
    width: 95%;
    color: rgba(119, 111, 116, 0.541);  
    font-weight: 800;
    font-size: 1.5vw;
    text-align: center;
    margin-top: 20px;
  }
  .contenedorPilares{
    /* background-color: blue; */
    display: flex;
    width: 90vw;
    height: 190px;
    justify-content: space-around;
    align-items: center;
    margin-top: 45px;
  }
  .comunicacion,.confianza,.equipo{
    background-color: #76b8bd63;
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border-radius: 15px;
  }
  .tituloComunicacion,.tituloConfianza,.tituloEquipo{
    font-size: 1.7vw;
    color: #76b8bd;
    font-weight: 800;
  }
  .parrafoCuminicacion,.parrafoConfianza,.parrafoEquipo{
    text-align: center;
    color: rgba(119, 111, 116, 0.541);  
    font-weight: 800;

  }
  .parrafoEquipo{
    margin-bottom: 37px;
  }

  .contenedorFormulario{
    display: flex;
    width: 70%;
    height: 450px;
    margin-top: 100px;
  }
  .imageFormulario{
    width: 30%;
    border-radius: 10px;
  }

  .contenedorCantidadTratamientos{
    width: 90vw;
    height: 400px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  .tituloContenedorCantidadTratamientos{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    color:  #76b8bd;
    font-size: 2vw;
  }
  .linkTratamientosHome{
    width: 16.5%;
    height: 200px;
    text-decoration: none;
  }
  .tratamientoOrtodoncia,.tratamientoDiseño,.tratamientoEndodoncia,.tratamientoRehabilitacion{
    border: 2px solid #76b8bd;
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
  .tratamientoOrtodoncia:hover,
  .tratamientoDiseño:hover,
  .tratamientoEndodoncia:hover,
  .tratamientoRehabilitacion:hover{
    background-color: #76b8bd63;
    transform: scale(1.1); /* Aumentar ligeramente el tamaño */
  }

  .tituloOrtodoncia,.tituloDiseño,.tituloEndodoncia,.tituloRehabilitacion{
    font-size: 1.1vw;
    color:  rgba(119, 111, 116, 0.541);
    margin-top: 20px;
  }
  .imageContador{
    width: 7vw;
    height: 12vh;
    margin-top: 20px;
  }
  .contador{
    font-size: 1.7vw;
    margin-top: 10px;
  }
  

  /***********************************Table****************************************/
@media(max-width:900px){
.contenedorCarrusel{
    margin-top:-1px;
  }

  .tituloPorQueElegirnos{
    width: 52%;
  }
  
  .parrafoElegirnos{
    font-size: 2.5vw;
  }
  .contenedorPilares{
     width: 100vw;
  }
  .comunicacion,.confianza,.equipo{
    width: 31%;
    height: 80%;
  }
  .tituloComunicacion,.tituloConfianza,.tituloEquipo{
    margin-top: 30px;
  }
  .parrafoCuminicacion,.parrafoConfianza,.parrafoEquipo{
    font-size: 1.8vw;
    height: 80%;
  }

  .contenedorFormulario{
    width: 90%;
  }
  .imageFormulario{
    width: 40%;
  }

  .contenedorCantidadTratamientos{
    width: 100vw;
    height: 350px;
  }
  .tituloContenedorCantidadTratamientos{
    margin-top: 25px;
    font-size: 3vw;
  }
  .linkTratamientosHome{
    width: 20%;
  }
  .tratamientoOrtodoncia,.tratamientoDiseño,.tratamientoEndodoncia,.tratamientoRehabilitacion{
    width: 100%;
    margin-bottom: 20px;
  }
  .tituloOrtodoncia,.tituloDiseño,.tituloEndodoncia,.tituloRehabilitacion{
    font-size: 2vw;
    margin-top: 13px;
  }
  .imageContador{
    width: 10vw;
  }
  .contador{
    font-size: 3.5vw;
  }


}

 /***********************************Mobile****************************************/
 @media(max-width:480px){

  .porQueElegirnos{
    width: 90%;
    border: 2px solid #76b8bd;
  }
  .tituloPorQueElegirnos{
    margin-top: 20px;
    width: 60%; 
    font-size: 6vw;
  }
  .parrafoElegirnos{
    font-size:4vw;
    margin-top: 10px;
  }
  .contenedorPilares{
   flex-direction: column;
   height: 700px;
   width: 60%;
 }
 .comunicacion,.confianza,.equipo{
  width: 90%;
  height: 30%;
}
.tituloComunicacion,.tituloConfianza,.tituloEquipo{
 font-size: 4vw;
 height: 40%;
 text-align: center;
}
.parrafoCuminicacion,.parrafoConfianza,.parrafoEquipo{
  font-size: 1.8vw;
  height: 80%;
  font-size: 3.5vw;
  width: 80%;
}
.parrafoCuminicacion,.parrafoConfianza{
  margin-bottom: 40px;
}
.contenedorFormulario{
  width: 80%;
  height: 650px;
  margin-top: 50px;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 5px;
}
.imageFormulario{
 display: none;
}

.contenedorCantidadTratamientos{
  width: 80vw;
  height: auto;
 
}
.tituloContenedorCantidadTratamientos{
  font-size: 4vw;
  margin-bottom: 20px;
}
.linkTratamientosHome{
  width: 80%;
  height: 230px;
  margin-top: 20px;
}
.tratamientoOrtodoncia,.tratamientoDiseño,.tratamientoEndodoncia,.tratamientoRehabilitacion{
  width: 100%;
  height: 100%;
}
.tituloOrtodoncia,.tituloDiseño,.tituloEndodoncia,.tituloRehabilitacion{
  font-size: 5vw;
}
.imageContador{
  width: 20vw;
 margin-top: 15px;
}
.contador{
  font-size: 8vw;
  margin-top: 5px;
}

 }